<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SummaryPlayerTCA.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44EB248A2AEC7C660055130E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44EB249B2AEC7C680055130E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44EB24A52AEC7C680055130E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
